numpy >= 1.22.2
pandas >= 1.4.1
matplotlib >= 3.4.3
seaborn
plotly
plotly_express
geopandas
folium
mapclassify
rtree
esda
pysal
h3pandas
nbformat
srsly
pydantic
rasterio
scikit-image
scikit-learn
-e ../